!!!
html
  head
    title norway
    meta(charset="utf-8")
    link(rel="stylesheet", href="styles.css")
    script.
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-45118411-1']);
      _gaq.push(['_setDomainName', 'wa.gd']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    p#valgt-fylke
    script(src="d3.js")
    script(src="d3.geo.js")

    script(src="base.js")
    script(src="land.js")
    script(src="events.js")

    script(src="map.js")


